<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head') %>
  </head>
  <body>
    <%-include('./inc/nav') %>

    <section>
      <h1>Hakkimizda</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum corporis
        ullam reiciendis, quis omnis quod distinctio cumque laborum amet. Vitae!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        minima ipsum dignissimos vel deserunt dolores, non necessitatibus
        temporibus facere odio, delectus ratione, est consequatur ut sint totam
        quas error iusto?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quidem
        veritatis explicabo mollitia at blanditiis natus. Enim, nemo. Dicta
        fugit sapiente, quam quidem aliquid delectus esse facilis dolore
        consequatur, amet similique omnis, est ratione impedit vero fuga quia
        rerum voluptates inventore iusto! Similique incidunt et ipsum nobis
        maxime commodi ipsam?
      </p>
    </section>

    <footer><%-include('./inc/footer') %></footer>
  </body>
</html>
